.banner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top:10rem;
}

.inner {
  width: 40%;
}

.portrait {
  width: 20%;
}

.portrait img{
  border-radius:30%;
  width: 100%;
}

ul.lang li {
  list-style: none;
  height: 3rem;
}

ul.lang.li span{
  height: 100%;
  vertical-align: middle;
}

ul.lang li img.flag{
  witdh:2rem;
  height:2rem;
  padding-right:2rem;
}

